.service_card{
     width: 280px;
     height: 360px;
     background-color: white;
     box-shadow: 0 0 12px rgba(32,32,32,0.2);
     border-radius: 10px;
}
.servicec_card_image{
     width: 100%;
     height: 60%;
}
.servicec_card_image > img{
     width: 100%;
     height: 100%;
     object-fit: contain;
     object-position: center;
}
.content_container{
     padding: 0 10px;
     text-align:start;
}
.content_container > h5{
     margin: 5px 0;
     font-size: 18px;
     font-weight: 450;
}
.content_container > p{
     font-size: 15px;
     font-weight: 400;
     text-align: justify;
     
}