.cartItem_com{
    width: 60%;
    margin: 10px auto;
    border-bottom: 0.5px solid gainsboro;
    display: flex;
    align-items: center;
    padding: 5px;
}
.cart_header{
    text-align: center;
    color: #333;
    font-size: 25px;
    margin-top: 2rem;
}
.cartItem_com_item{
    display: flex;
    flex: 1;
}
.image_container{
    border-radius: 8px;
    background-color: white;
    margin-right: 2rem;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    padding: 2px;
}
.cartItem_com_item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.total_amount{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4rem;
}
.total_amount p {
    font-size: 20px;
    font-weight: 600;
}
.remove_btn{
    background-color: transparent;
    color: tomato;
    border: none;
    outline: none;
    cursor: pointer;
}
.clear_cart_btn{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.clear_cart_btn:hover{
    background-color: rgb(4, 71, 218);
    color:white;
    border-color: rgb(4, 71, 218);
}
.cartitems_container{
    color: #222;
}
.cart_btn{ 
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cfcdcd;
    border-radius: 5px;
    background-color: transparent;
    font-size: large;
    transition: all 0.25s ease;
    color: white;
}
.cart_btn.plus{
    background-color: rgb(78, 129, 1);  
}
.cart_btn.minus{
    background-color: rgb(163, 33, 0);
}
.cart_btn:hover{
    box-shadow: 0 0 4px #808080;
}