@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary : #19376D;
  --secondary : #2D2424;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.width-90{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  display: block;
  color: inherit;
}
button{
  display: block;
}
nav{
  width : 100vw;
  height: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 40px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo{
  font-style: italic;
  font-size: 1.8rem;
  color: white;
}
.w-full{
  width: 100vw;
}
.h-full{
  min-height: 100vh;
}
nav button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.flex{
  display: flex;
}
.flex-col{  
  flex-direction: column;
}
.row_reverse {
  flex-direction: row-reverse;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.align_center{
  align-items: center;
}
.m-top{
  margin-top: 1.4rem;
}
.m-auto{
  margin: 0 auto;
}
.border_grey{
  border: 0.5px solid grey;
}
.p-x-sm{
  padding: 0 5px;
}
.gap{
  gap: 40px;
}
.gap-sm{
  gap: 20px;
}
.bg_grey{
  background-color: rgba(189, 189, 189, 0.795);
}
.text-center{
  text-align: center;
}
.text-white{
  color: white;
}
.rounded-sm{
  border-radius: 5%;
}
.capitalize{
  text-transform: capitalize;
}
.nav_link{
  transition: all 0.35s ease;
}
.nav_link:hover{
  color: rgb(180, 180, 180);
}
nav button > span {
  width: 20px;
  height: 20px;
  background-color: white;
  color:black;
  border-radius: 50%;
  margin-right: 4px;
  font-size: 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.relative{
  position: relative;
}
.cart_icon{
  width: 28px;
  height: 28px;
  background-color: rgb(233, 231, 231);
  color: #576CBC;
  border-radius: 50%;
  font-size: larger;
  padding: 2px;
}
.product_container{
  width: 90%;
  margin:10px auto;
}
.card_container{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header_text{
  color: #444;
  font-size: 22px;
  margin-bottom: 0.4rem;
}
.Footer{
  width: 100%;
  min-height: 30vh;
  margin-top: 2rem;
  background-color: var(--secondary);
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_component_container{
  width: 90%;
  min-height: 80%;
  height: 80%;
  text-transform: capitalize;
  color: rgb(204, 204, 204);
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.footer_component_container h5{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: rgb(202, 202, 202);
}
.footer_component_container p{
  font-size: 15px;
}
.footer_component_container a{
  font-size: 14px;
  margin: 10px 0;
}
.footer_component_container a:hover{
  transition: 400ms;
  font-weight: bold;
  color: white;
}
.social_icon_container{
  display: flex;
  align-items: center;
  justify-content: start;
}
.social_icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_icon svg{
  width: 60%;
  height: 60%;
}
.social_icon:hover svg{
  transition: 0.5s;
  transform: rotateY(360deg);
}
.payment_icon svg{
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
}

.profile_container{
  font-size: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
}
.profile_container > .profile{
  font-size: 24px;
}
.user_data_pop_up{
  width: 120px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  box-shadow: 0 0 12px rgba(32,32,32,0.4);
  position: absolute;
  bottom: -100px;
  left: 0;
  padding: 10px;
}
.user_data_pop_up  > .user_data_pop_up_btn{
  width: 100%;
  text-align: start;
  padding: 0.5rem 0;
  border-radius: 0;
  border-bottom: 1px solid #444;
  transition: all 200ms ease;
  text-transform: capitalize;
}
.user_data_pop_up > .user_data_pop_up_btn:hover{
  background-color: skyblue;
  color: white;
  border-radius: 4px;
}