:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  width : 100vw;
  height: 50px;
  background-color: rgb(6, 6, 110);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav button {
  min-width: 80px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
nav button > span {
  width: 20px;
  height: 20px;
  background-color: rgb(15, 58, 138);
  color: white;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.card_container{
  width: 90%;
  margin:10px auto;
  display: flex;
  gap: 15px;
}