:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  width : 100vw;
  height: 50px;
  background-color:#19376D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
nav button > span {
  width: 20px;
  height: 20px;
  background-color: white;
  color:black;
  border-radius: 50%;
  margin-right: 4px;
  font-size: 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.cart_icon{
  width: 28px;
  height: 28px;
  background-color: rgb(233, 231, 231);
  color: #576CBC;
  border-radius: 50%;
  font-size: larger;
  padding: 2px;
}
.card_container{
  width: 90%;
  margin:10px auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}